body, h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", system-ui;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*--------------------------------------------------
SLIDING NAVBAR CSS START
-------------------------------------------------- */
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 0px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
}
/*--------------------------------------------------
SLIDING NAVBAR CSS END
-------------------------------------------------- */
/*--------------------------------------------------
LOGIN CSS START
-------------------------------------------------- */
.wrap-login100 {
    background: #fff;
    padding: 60px;
  }

.modal-close{
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 300;;
}
.form-title {
    font-size: 30px;
    color: #555555;
    line-height: 1.2;
    text-transform: uppercase;
    width: 100%;
    display: block;
  }
.p-b-25{
    padding-bottom: 25px;
}
.form-radious{
    border-radius: 10px !important;
}

.login-label {
    font-size: 13px;
    color: #555555;
    line-height: 1.4;
    text-transform: uppercase;
    padding-bottom: 7px;
    font-weight: 600;
  }

  .login-input {
    color: #555555;
    line-height: 1.2;
    font-size: 14px;
    display: block;
    width: 100%;
    background: transparent;
    padding: 15px 25px 15px 25px;
    border: 1px solid #999999;
    border-radius: 7px;
  }

  .login-subtitle{
    color: #555555;
  }
.otp-wrapper{
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
  .otp-field {
    display: flex;
  }
  .otp-field input {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 32px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 2px;
    /* outline: 1px solid #555555; */
    /* outline-offset: 2px; */
    font-weight: bold;
    color: #555555;
    outline: none;
    background: #ffffff;
    transition: all 0.1s;
    box-shadow: none;
    border: 1px solid #999999;
    
  }
  .otp-field input:focus {
    border: 2px solid #5d983a;
    box-shadow: 0 0 2px 2px #90d865;
  }
  .disabled {
    opacity: 0.5;
  }
  .space {
    margin-right: 1rem !important;
  }
  .m-t-40{
    margin-top: 40px;
  }
  .verify-account-btn{
    border: 0px;
    padding: 15px;
    background: #5d983a;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 7px;
    width: 236px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0 auto;
  }
  .verify-account-btn:hover{
    background: #90d865;
    color: #000000;
  }
.resend{
    color: #555555;
}
.resend a{
    color: #5d983a;
}

.resend a:hover{
    color: #555555;
}

/* ==============================
Header One 
================================*/
.header-top {
    background: #fff;
    position: relative;
    padding: 20px 0;
    border-top: 5px solid #3b69b4;
    border-bottom: 1px solid #e9ecef;
}
.wrapper-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
 .left-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
 ul.contact-info {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-right: 30px
}

ul.social-icon {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.curency{
    display: flex;
}
.curency .nice-select {
    background: transparent;
}
.curency .language{
    position: relative;
}
.right-column {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 140px;
    align-items: center;
}
.help-info, .help-info a{
    display: inline-block;
    color: #2B313E;
    font-size: 12px;
    line-height: 14px;
}
.help-info span{
    display: inline-block;
    color: #9DA3AA;
    margin: 0 3px;
}
.help-info span:first-child{
    margin-right: 0;
}
.help-info-number{
    display: inline-block;
    font-weight: 600;
    font-size: 13px !important;
}
 ul.contact-info li {
    font-size: 15px;
    line-height: 1.4em;
    color: #141417;
    font-weight: 400;
    margin-right: 20px;
}

ul.contact-info li a {
    transition: .5s;
    font-size: 12px;
    line-height: 14px;
    color: #2B313E;
}
 ul.contact-info li i {
    color: var(--theme-color);
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-size: 18px;
}
 ul.social-icon {
    display: flex;
    gap: 20px;
}
 ul.social-icon li a {
    font-size: 14px;
    line-height: 26px;
    color: #b3b3b3;
    transition: .5s;
}
ul.social-icon li a:hover {
    color: var(--theme-color);
}
.language {
    margin-right: 30px;
    padding-left: 0px;
}
 .language .flag{
    position: absolute;
    left: -20px;
    top: -7px;
    z-index: 1;
}
.header-top .nice-select{
    height: auto;
    font-size: 12px;
    line-height: 14px;
    color: #2B313E;
    border: none !important;
    padding: 0px;
    padding-right: 10px;
}
.header-top .nice-select:after{
    right: 0px;
    color: #141417;
}

 .header-phone-number {
    position: relative;
    font-size: 15px;
    line-height: 21px;
    color: var(--theme-color);
    font-weight: 600;
}
.header-phone-number i {
    margin-right: 5px;
    font-size: 20px;
    vertical-align: middle;
}
.header-phone-number a {
    color: #ffffff;
    transition: .5s;
}


.header-center {
    padding:30px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee
  }
  .header-action-icon {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:end;
    -ms-flex-pack:end;
    justify-content:flex-end;
    margin-right:15px
  }
  .header-action-icon>li {
    margin-right:40px
  }
  .header-action-icon>li:last-child {
    margin-right:0
  }
  .header-action-icon>li>a {
    position:relative;
    font-size:27px;
    color:#333
  }
  .header-action-icon>li>a:hover {
    color:#5d983a;
  }
  .header-action-icon>li>a:hover .header-action-icon-item-count {
    background:#5d983a;
  }
  .header-action-icon-item-count {
    position:absolute;
    top:0;
    right:-8px;
    font-size:10px;
    display:inline-block;
    background:#333;
    color:#fff;
    text-align:center;
    line-height:20px;
    border-radius:50%;
    width:18px;
    height:18px;
    -webkit-transition:all .3s ease 0s;
    transition:all .3s ease 0s
  }
  .header-bottom {
    background:#333;
    position:relative
  }
/* Header Lower */
.header-lower {
    position: relative;
    background: #3b69b4;
    min-height: 50px;
}
.header-style-two .header-lower {
    background: #5d983a;
    min-height: 50px;
}
.header-lower::before{
    content: '';
    max-width: 314px;
    width: 100%;
    height: 100%;
    background: #5d983a;
    position: absolute;
    min-height: 50px;
}
.sticky-top {
    background: #ffffff;
  }
  @media (min-width:1200px) {
    .container {
      max-width:1300px
    }
  }
/* =====================================
Header One 
======================================= */
/* =====================================
Banner Section CSS Start
======================================= */
.banner-section{
    padding: 0px;
    margin: 0px;
    background: #ffffff;
}
.banner-wrapper{
    padding: 70px 0px;
    margin: 0px;
    border-bottom: 1px solid #e9ecef;
}
.main-title{
    font-size: 60px;
    color: #3b69b4;
    font-weight: 900;
    letter-spacing: -3px;
}
.sub-head{
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    color: #000000;
    text-transform: uppercase;
}

.btn-primary{
    border: 0px;
    padding: 15px;
    background: #3b69b4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 7px;
    min-width: 236px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 0 auto;
  }
.form-padding{
    padding: 20px 0px;
}
.sub-sub-head{
    font-size: 24px;
    padding: 0px 0 20px 0;
    margin: 0px;
    color: #000000;
}
.sele-opt{
    padding: 15px;
    background: #e9ecef;
    color: #000000;
    font-size: 14px;
    border-radius: 7px;
    min-width: 236px;
    height: auto;
}

/* =====================================
Banner Section CSS End
======================================= */

/* =====================================
Shop by Brands Section CSS Start
======================================= */

.Shop-by-Brands{
    padding: 70px 0px;
    background: #f7faff;
}

.shop-by-brand-wrapper{
    background: #ffffff;
    padding: 15px;
    border-radius: 10px;    
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.05);
}

.Shop-by-Brands-title{
    font-size: 24px;
    font-weight: 600;
    color: #000000;
    padding: 0px;
    margin: 0px;
}
.Shop-by-Brands-title span, .shop-by-brand-sub-head span{
    color: #3b69b4;
} 
.title-line{
    width: 100%;
    padding: 0px;
    height: 1px;
    background: #e9ecf1;
    margin: 20px 0px;
}
.shop-by-brand-sub-head{
    font-size: 14px;
    font-weight: 500px;
    color: #000000;
    text-transform: uppercase;    
    margin-bottom: 15px;
}

.brand-container{
    border: 1px solid #e9ecf1;
    border-radius: 10px;    
    margin-bottom: 24px;
    text-align: center;
    position: relative;
  overflow: hidden;
  transition: 0.5s;
}

.brand-container::before{
    content: "";
    width: 40px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;
}
.brand-container:hover::before{
    left: 100%;
}

.brand-logo a{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}
.brand-logo span{
    display: block;
    color: #2B313E;
    text-align: center;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 500;
    margin-top: 5px;
}
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }

/* =====================================
Shop by Brands Section CSS End
======================================= */

/* =====================================
Shop By Parts Section CSS START
======================================= */
.Shop-by-parts{
  padding: 70px 0px;
  background: #ffffff;
}



.th-block-categories__list {
  display: flex;
  flex-wrap: wrap;
}


@media(min-width:1400px) {
  .th-block-categories__list {
    margin:-12px
  }
  .th-block-categories__item {
    width:calc((100% - 72px)/3);
    margin:12px
  }
}
@media(min-width:1200px) and (max-width:1399.98px) {
  .th-block-categories__list {
    margin:-8px
  }
  .th-block-categories__item {
    width:calc((100% - 48px)/3);
    margin:8px
  }
}
@media(min-width:992px) and (max-width:1199.98px) {
  .th-block-categories__list {
    margin:-8px
  }
  .th-block-categories__item {
    width:calc((100% - 32px)/2);
    margin:8px
  }
}
@media(min-width:768px) and (max-width:991.98px) {
  .th-block-categories__list {
    margin:-8px
  }
  .th-block-categories__item {
    width:calc((100% - 48px)/3);
    margin:8px
  }
}
@media(max-width:767.98px) {
  .th-block-categories__list {
    margin:-8px
  }
  .th-block-categories__item {
    width:calc((100% - 32px)/2);
    margin:8px
  }
}
@media(max-width:474px) {
  .th-block-categories__list {
    margin:-8px
  }
  .th-block-categories__item {
    width:calc((100% - 16px)/1);
    margin:8px
  }
}

.th-block-categories__item {
  display: flex;
}



@media(min-width:992px) {
  .th-category-card--layout--classic .th-category-card__image {
    margin-bottom:0;
    margin-right:var(--th-category-card--gutter)
  }
}
@media(max-width:991.98px) {
  .th-category-card--layout--classic .th-category-card__image {
    margin-bottom:var(--th-category-card--gutter);
    margin-right:0
  }
}
@media(min-width:1200px) and (max-width:1399.98px) {
  .th-category-card--layout--classic .th-category-card__image {
    width:120px
  }
}
@media(max-width:991px) and (min-width:475px) {
  .th-category-card--layout--classic {
    --th-category-card--padding:20px
  }
  .th-category-card--layout--classic .th-category-card__image {
    width:132px;
    align-self:center
  }
  .icon-bx-wraper {
    flex-direction:column;
  }
}
@media(max-width:474px) and (min-width:360px) {
  .th-category-card--layout--classic .th-category-card__image {
    margin-bottom:0;
    margin-right:var(--th-category-card--gutter);
    width:132px
  }
}
@media(max-width:474px) and (min-width:360px) and (max-width:420px) {
  .th-category-card--layout--classic {
    --th-category-card--padding:24px
  }
  .th-category-card--layout--classic .th-category-card__image {
    width:100px
  }
}
@media(max-width:359px) {
  .th-category-card--layout--classic {
    --th-category-card--padding:20px
  }
  .th-category-card--layout--classic .th-category-card__image {
    margin-bottom:var(--th-category-card--gutter);
    margin-right:0;
    width:132px;
    align-self:center
  }
  .th-category-card--layout--classic .th-category-card__content {
    flex-direction:column
  }
}



.parts-title{
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
 .icon-bx-wraper {
  width: 100%;
	display: flex;
	/* align-items: center; */
	border: 1px solid #e9ecf1;
	padding:25px 15px;
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
  border-radius: 10px;
}
.icon-bx-wraper:hover{
	background-color:#fff;
	border: 1px solid #fff;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
}
.icon-bx-sm {
  width:160px;
  margin:0;
  flex-shrink:0;
  margin-right: 15px;
}
 .icon-bx-sm i {
    font-size: 76px;
	color: #262626;
}

 .icon-bx-wraper .dlab-tilte {
	margin-bottom: 5px;
}
.text-brown,
.address-box.brown i,
.text-brown,
.project .section-head h2 span,
.testimonial-design .testimonial-detail .testimonial-name,
.mission .section-head  h2 span,
.working-sc h4 a:hover {
	color: #bdad9b;
}

.th-category-card__children {
  list-style:none;
  margin:10px 0 0;
  padding:0;
  font-size:15px
}
.th-category-card__children a{
  color:#6c757d;
  font-size: 14px;
}
.th-category-card__children a:hover{
  color: #3b69b4;
}
.th-category-card__children li {
  margin:0;
  position:relative;
  color:#6c757d;
  padding:1px 0 1px 11px;
  line-height: 24px;
}
.th-category-card__children li:before {
  display:block;
  position:absolute;
  content:"";
  width:3px;
  height:3px;
  background:currentColor;
  opacity:.7;
  top:10px;
  left:0
}
.parts-show-all-btn{
  font-size: 15px;
  color: #5d983a;
  font-weight: 600;
  margin-top: 20px;
  display: inline-block;
}

.Shop-by-parts-title{
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  padding: 0px;
  margin: 0px 0px 25px;
}
.Shop-by-parts-title span, .shop-by-parts-sub-head span{
  color: #3b69b4;
}
/* =====================================
Shop By Parts Section CSS End
======================================= */
/* =====================================
Deals For This Week Section CSS Start
======================================= */


.seal-week-wrapper{
  padding: 0px 0px 70px 0px;
}

/* common section title */
.section-title{
  display: flex;
  align-items: center;
  gap: 12px;
}
.section-title h4{
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  line-height: 31px;
}
.common-section-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #E9ECEF ;
  margin-bottom: 40px;
}
.common-section-title-left{
  display: flex;
  align-items: center;
  gap: 40px;
}
/* common section title */
.product-block-one {
  position: relative;
  width: 305px;
  margin-bottom: 10px;
  padding-top: 0;
  transition: .5s;
  background-color: #fff;
}
.product-block-one-image{
  width: 100%;
  padding: 17px 15px;
  border: 1px solid #E9ECEF;
  border-radius: 10px;
}
.product-block-one-cintent{
  width: 100%;
  padding: 17px 0px;
  border-bottom: 1px solid #E9ECEF;
}

.ribon {
  padding: 0 10px;
  border-radius: 5px;
  background-color: #3b69b4;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 29px;
  color: #FFFFFF;
  position: absolute;
  left: 15px;
  top: 15px;
  z-index: 1;
}
.product-block-one .ribon.style_2 {
  background-color: #15ad64;
}
.product-block-one .image {
  text-align: center;
  margin-bottom: 15px;
  min-height: 215px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.wheels .product-block-one .image{
  margin-bottom: 5px;
}
.product-block-one .image img {
  transition: .5s;
  width: auto;
}
.product-block-one:hover .image img {
  opacity: .5;
  transform: scale(1.1);
}
.product-block-one h4 {
  color: #141417;
}
.product-block-one-cintent h4 a {
  color: #141417;
  transition: .5s;
  font-size: 16px;
  line-height: 29px;
}
.product-block-one-cintent h4 a:hover{
  color: #3b69b4;
}
.rating {
  font-size: 14px;
  color: #ffc92e;
  margin-bottom: 5px;
}
.empty-star{
  color: #ECECEC;
}
.rating span {
  color: #222;
  font-size: 15px;
  margin-left: 10px;
}
.price {
  font-size: 12px;
  line-height: 29px;
  color: #8B929A;
  text-decoration: line-through;

}
.price span{
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  color: #2B313E;
  margin-left: 7px;
}
.product-block-one .price-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -10px;
}
.product-block-one .price-container .price-cart a{
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  background: #F8F8F8;
  font-size: 18px;
  color: #3b69b4;
  transition: 0.5s;
}
.product-block-one .price-container .price-cart a:hover{
  color: #fff;
  background: #3b69b4;
}
.product-block-one:hover .price-cart a{
  color: #fff;
  background: #3b69b4;
}
.product-block-one .overlay {
  position: absolute;
  top: 15px;
  right: 20px;
  transition: .5s;
  opacity: 0;
}
.product-block-one:hover .overlay {
  opacity: 1;
}
.product-block-one .overlay ul li {
  margin-bottom: 5px;
}
.product-block-one .overlay li a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #E9ECEF;
  display: inline-block;
  text-align: center;
  line-height: 41px;
  transition: .5s;
  color: #222;
  font-size: 16px;
  transform: scale(.8);
}
.product-block-one-heart a{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #E9ECEF;
  display: inline-block;
  text-align: center;
  line-height: 41px;
  transition: .5s;
  color: #222;
  font-size: 16px;
  position: absolute;
  top: 15px;
  right: 20px;
  opacity: 1;
  visibility: visible;
} 
.product-block-one:hover .product-block-one-heart a{
  opacity: 0;
  visibility: hidden;
}
.product-block-one .overlay li:nth-child(2) a {
  transition: .7s;
}
.product-block-one .overlay li:nth-child(3) a {
  transition: .9s;
}
.product-block-one .overlay li:nth-child(4) a {
  transition: 1s;
}
.product-block-one:hover .overlay li a {
  transform: scale(1) rotate(360deg);
}
.product-block-one .overlay li a:hover {
  color: #fff;
  background-color: var(--theme-color);
}
.product-block-one .overlay li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

.product-block-one .overlay li span{
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 8px;
  line-height: 15px;
  color: #FFFFFF;
  background: #3b69b4;
  border-radius: 2px;
  padding: 0 7px;
  transition: 0.5s;
}
.product-block-one .overlay li span::after{
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 5px;
  border-color: transparent transparent transparent #3b69b4;
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}


/* =====================================
Deals For This Week Section CSS End
======================================= */

/* =====================================
Features Section Section CSS Start
======================================= */

.feature-wrapper{
  padding: 70px 0px;
  background: #f7faff;
}
.icon_box {
	margin-bottom: 30px;
}
.icon {
	margin-bottom: 15px;
}
.icon_box_content h1,
.icon_box_content h2,
.icon_box_content h3,
.icon_box_content h4,
.icon_box_content h5,
.icon_box_content h6 {
	text-transform: capitalize;
}
.icon i {
	font-size: 30px;
}
.icon_box p:last-child {
	margin: 0;
}
.icon_box_content .link i {
	vertical-align: middle;
	margin-left: 2px;
}
.box_img {
	margin-bottom: 15px;
}
.icon_box_style1 {
	text-align: center;
	padding: 0 40px;
	position: relative;
}
.icon_box_style1 .icon i {
	font-size: 46px;
	line-height: 1;
}
.icon_box_style1::before {
	content: "";
	position: absolute;
	right: 0;
	top: 15%;
	bottom: 15%;
	width: 1px;
	background-color: #ddd;
}
[class*="col-"]:last-child .icon_box_style1::before {
	content: normal;
}
.icon_box_style2 .icon {
	background-color: #fff;
	max-width: 78px;
	text-align: center;
	float: left;
	height: 78px;
	border-radius: 100%;
	line-height: 78px;
	position: relative;
	margin: 0px 20px 0px 0px;
	box-shadow: 0 2px 0 rgba(0,0,0,0.05);
	-ms-flex: 0 0 78px;
	flex: 0 0 78px;
}
.icon_box_style2:hover .icon {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: swing;
	animation-name: swing;
}
.icon_box_style2 .icon i {
	font-size: 40px;
	color: #FF324D;
	line-height: 78px;
}
.shopping_info {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.shopping_info .icon_box {
	margin-top: 0;
	padding-top: 30px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.icon_box.icon_box_style3 {
	border: 1px solid #ddd;
	padding: 30px;
	margin-left: -1px;
	margin-top: -1px;
	margin-bottom: 0;
}
.icon_box_style3 .icon {
	float: left;
	margin-right: 20px;
	margin-bottom: 0;
}
.icon_box_style3 .icon_box_content {
	overflow: hidden;
}
.icon_box_style3 .icon i {
	font-size: 36px;
	color: #FF324D;
	line-height: normal;
}
.icon_box_style3 .icon_box_content p {
	font-size: 14px;
	line-height: normal;
}
.icon_box_style4 {
	background-color: #fff;
	padding: 20px;
	text-align: center;
}
.icon_box_style4 .icon i {
	background-color: #FF324D;
	color: #fff;
	width: 60px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	border-radius: 100%;
	font-size: 24px;
}
/* =====================================
Features Section Section CSS End
======================================= */

/* =====================================
Footer Section CSS Start
======================================= */

/*  07. footer area css here */
.footer_top {
  padding: 58px 0 60px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_top {
    padding: 58px 0 24px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_top {
    padding: 59px 0 9px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container {
    margin-bottom: 28px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container {
    margin-bottom: 44px;
  }
}
.widgets_container h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container h3 {
    font-size: 15px;
    margin-bottom: 26px;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container h3 {
    margin-bottom: 15px;
    line-height: 22px;
    font-size: 16px;
  }
}
.widgets_container p {
  margin: 0;
}
.widgets_container.widget_menu {
  padding-left: 65px;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .widgets_container.widget_menu {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .widgets_container.widget_menu {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container.widget_menu {
    padding-left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .widgets_container.widgets_subscribe {
    margin-bottom: 51px;
  }
}
.widgets_container.widgets_subscribe p {
  font-size: 14px;
  line-height: 25px;
}

.mailchimp-error {
  text-align: center;
  color: green;
}

.mailchimp-success {
  text-align: center;
  max-width: 510px;
  color: green;
  margin: 0 auto;
}
.mailchimp-success.active {
  margin-top: 20px;
}

.footer_logo {
  margin-bottom: 23px;
}
@media only screen and (max-width: 767px) {
  .footer_logo {
    margin-bottom: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_logo a img {
    max-width: 120px;
  }
}

.footer_contact p {
  font-size: 14px;
  margin-bottom: 32px;
  line-height: 25px;
}
.customer_support {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 767px) {
  .footer_contact p {
    margin-bottom: 23px;
  }
}
.footer_contact .customer_support {
  justify-content: flex-start;
  align-items: center;
}
.footer_contact .customer_support_text p {
  margin-bottom: 0;
}
.footer_contact .customer_support_text p span {
  font-size: 13px;
  line-height: 16px;
}
.footer_contact .customer_support_text p a {
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
}
.footer_contact .customer_support_text p a:hover {
  color: #fdb813;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer_contact .customer_support_text p a {
    font-size: 18px;
  }
}

.footer_menu {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 767px) {
  .footer_menu {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 767px) {
  .footer_menu ul {
    margin-right: 50px;
  }
  .footer_menu ul:last-child {
    margin-right: 0;
  }
}
.footer_menu ul li {
  line-height: 30px;
}
@media only screen and (max-width: 767px) {
  .footer_menu ul li {
    line-height: 25px;
  }
}
.footer_menu ul li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}
.footer_menu ul li a:hover {
  color: #5d983a;
  padding-left: 10px;
}

.subscribe_form {
  margin-bottom: 15px;
}
.subscribe_form form {
  position: relative;
  width: 100%;
  background: #f0f0f0;
  border-radius: 5px;
}
.subscribe_form form input {
  width: 100%;
  height: 48px;
  color: #666;
  font-size: 13px;
  background: none;
  border: 0;
  padding: 0 120px 0 15px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .subscribe_form form input {
    height: 45px;
    padding: 0 102px 0 15px;
  }
}
@media only screen and (max-width: 767px) {
  .subscribe_form form input {
    padding: 0 105px 0 15px;
  }
}
.subscribe_form form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #5d983a;
  font-weight: 700;
  padding: 0 18px;
  border: 0;
  font-size: 15px;
  text-transform: capitalize;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #ffffff;
}
.subscribe_form form button:hover {
  background: #333;
  color: #fff;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .subscribe_form form button {
    padding: 0 10px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 767px) {
  .subscribe_form form button {
    padding: 0 10px;
  }
}

.footer_social {
  margin-top: 27px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_social {
    margin-top: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_social {
    margin-top: 18px;
  }
}
.footer_social ul li {
  display: inline-block;
  margin-right: 13px;
}
.footer_social ul li:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer_social ul li {
    margin-right: 9px;
  }
}
@media only screen and (max-width: 767px) {
  .footer_social ul li {
    margin-right: 8px;
  }
}
.footer_social ul li a {
  display: inline-block;
  font-size: 16px;
  padding: 0;
  line-height: 40px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .footer_social ul li a {
    line-height: 35px;
    width: 35px;
    height: 35px;
  }
}
.footer_social ul li a:hover {
  opacity: 0.9;
}
.footer_social ul li a.facebook {
  background: #3b579d;
}
.footer_social ul li a.twitter {
  background: #1da1f2;
}
.footer_social ul li a.youtube {
  background: #c33;
}
.footer_social ul li a.google {
  background: #d32a2a;
}
.footer_social ul li a.instagram {
  background: #a0369c;
}

@media only screen and (max-width: 767px) {
  .copyright_area {
    text-align: center;
    margin-bottom: 14px;
  }
}
.copyright_area p {
  text-transform: capitalize;
  line-height: 30px;
  font-size: 14px;
}
.copyright_area p a {
  color: #333;
}
.copyright_area p a:hover {
  text-decoration: underline;
}

/* Footer Bottom One */

.support_img_icon {
  min-width: 32px;
}

.customer_support_text {
  margin-left: 10px;
}
.customer_support_text p span {
  display: block;
  font-size: 13px;
  line-height: 14px;
  margin-bottom: 4px;
}
.customer_support_text p a {
  display: block;
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
  color: #333;
  font-family: "Overpass", sans-serif;
}

.footer-bottom-one {
  padding: 17px 0;
  position: relative;
  background: #5d983a;
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.footer-bottom-one .outer-box {
  position: relative;
  padding: 15px 0 12px;
}
.footer-bottom-one .copyright-text {
  position: relative;
  font-weight: 400;
  font-size: 12px;
  line-height: 29px;
  color: #000000;
}
.footer-bottom-one .copyright-text span{
  color: #ffffff;
}
.footer-bottom-one .menu {
  position: relative;
}
.footer-bottom-one .menu li {
  position: relative;
  font-size: 16px;
  color: #fff;
  display: inline-block;
  margin-right: 34px;
}
.footer-bottom-one .menu li:last-child {
  margin-right: 0;
}
.footer-bottom-one .menu li:before {
  position: absolute;
  content: '';
  right: -17px;
  top: 5px;
  width: 2px;
  height: 16px;
  background-color: rgb(0 0 0 / 0.2);
}
.footer-bottom-one .menu li:last-child:before {
  display: none;
}
.footer-bottom-one .menu li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
  color: #000000;
  transition: .5s;
}
.footer-bottom-one .menu li a:hover {
  color: #E85230;
}

.copyright-card{
  display: flex;
  align-items: center;
  gap: 15px;
}
.copyright-card h6{
  color: #000000;
  margin-right: 15px;
}


@media only screen and (min-width: 360px) and (max-width: 740px){
  .footer-bottom-one .copyright-text, .footer-bottom-one .copyright-card, .footer-bottom-one .menu {
      text-align: center;
      width: 100%;
  }
  .footer-bottom-one .row{
      gap: 10px;
  }
}

/* =====================================
Footer Section CSS End
======================================= */